@use '../../shared/styles/variables.scss' as *;

.card {
  width: 295px;
  height: 408px;
  display: flex;
  flex-direction: column;

  &:hover {
    text-decoration: underline;
  }
}

.text-bold {
  font-weight: $font-bold;
  font-size: 20px;
  font-family: $font-satoshi;
}