$font-satoshi: 'Satoshi', sans-serif;
$font-integral: 'Intergral CF', sans-serif;

$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$font-integral-bold: 800;

$secondary-color: rgba(0, 0, 0, 0.6);